@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    margin: 0;
    padding: 0;
}


:root {
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark4);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

body {
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Lato';
}



.form-login {
    display: flex;
    flex-direction: column;
    background-color: var(--dark6);
    padding: 4.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.div-input {
    display: flex;
    flex-direction: column;
}

section div a {
    margin-top: 1rem;
    text-decoration: none;
    color: var(--cyan1);
    margin-left: 3px;
    font-size: .8rem;
}

.input-form {

    color: black;
    padding: .8rem;
    margin: .2rem;
    border-radius: 5px;
    border: solid 1px cyan;
    padding-right: 45px;
}

.btn-submit {
    color: var(--white);
    padding: .5rem;
    margin: .2rem;
    border-radius: 5px;
    background-color: var(--dark2);
    border: solid 1px cyan;
}


.btn-submit:hover {
    padding: .5;
    color: var(--dark4);
    background-color: var(--dark6);
    cursor: pointer;
}

.monkey-gif,
.monkey-static {
    width: 130px;
    border: 1px solid var(--cyan1);
    border-radius: 50%;
    padding: 2px;
    margin: 1rem;
}


.monkey-gif,
#static-monkey-open-eyes {
    display: none;
}



.bi-eye,
.bi-eye-slash {
    position: relative;
    top: -2rem;
    left: 12.3rem;
}

.bi-eye:hover,
.bi-eye-slash:hover {
    fill: black;
    cursor: pointer;
}